body{
font-family:sans-serif;
background-color: #202327;
color: #eff3f4;
    text-align: justify;
}

.nombreApellido{
font-weight: bold;
text-align: center;

}
.div-ejercicio{
background-color: #333639;
margin-right: 25%;
margin-left: 25%;
margin-top: 30px;

display: flex;
justify-content: center;
align-items: center;
flex-direction:column;

border-radius: 1%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}

.ejercicio-num{
    margin-bottom: 0px;
}
.enunciado{
    width: 75%;
    margin-bottom: 0px;

}
.formulario{
    margin-top: -1em;
    text-align: center;
    margin-bottom: 20px;
}


.campo-form{
    background: #202327;
    color:#eff3f4;
    width: 80%;
    padding: 10px;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
    border: 1px solid #202327;
    margin-bottom: 15px;
    margin-top: 10px;
    outline: none;
 
}
.campo-form:focus{
border: 1px solid #333639;
}

.boton-envio{
    background-color:crimson;
    color:#eff3f4;
    font-weight: bolder;
    width: 10em;
    border-radius: 3%;
    box-shadow: none;
    border: crimson;
    padding: 3%;
    margin-bottom: 10px;
}
.boton-envio:hover{
background-color: #dc120c;
}

.lista-objetivos{
    margin-right: 25%;
    margin-left: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}


